
spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:backofficeDb
    driver-class-name: org.h2.Driver
    username: root
    password: "1111"

  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true

    properties:
      format_sql: true
      hibernate:
        show_sql: true

  mvc:
    hidden-method:
      filter:
        enabled: true

  mustache:
    suffix: .html

logging:
  level:
    org.hibernate.sql: trace
    org.hibernate.type: trace
